<mat-drawer-container [ngClass]="['background-transparent', 'drawer']" [hasBackdrop]="true" fullscreen>
        <mat-drawer #drawer [mode]="'over'" [ngClass]="['background-white','no-border', 'side-drawer']"> <!-- over, side, push -->
            <mat-selection-list #sidemenuselection [multiple]="false">
                <mat-list-option [value]='category' *ngFor='let category of categories' (click)='onSelectDrawerPage(category.category)'>
                    {{ category.category }}
                </mat-list-option>
            </mat-selection-list>
        </mat-drawer>
        <mat-drawer-content [ngClass]="['background-transparent']">
            <div class= 'max-size-content'>
                <mat-toolbar [ngClass]="['background-transparent']">
                    <div [ngClass]="'margin-auto'">                
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle  *ngFor='let category of categories'  (click)='selectedPage=category.category'>
                            {{category.category}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>                 
                    </div>
                </mat-toolbar>
                <!--<button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>-->
                <app-menu-items [category]="selectedPage"></app-menu-items>
            </div>
        </mat-drawer-content>
</mat-drawer-container>