<mat-drawer-container [ngClass]="['background-transparent']" [hasBackdrop]="true" fullscreen *ngIf="data">
  <!-- Side Drawer -->
  <mat-drawer #drawer [mode]="'over'" [ngClass]="['background-white','no-border', 'side-drawer']">
    <mat-selection-list #sidemenuselection [multiple]="false">
      <mat-list-option [value]='category' *ngFor='let category of data.categories'
        (click)='onSelectDrawerPage(category.category)'>
        {{ category.category }}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <!-- Drawer Content -->
  <mat-drawer-content [ngClass]="['background-transparent']">
    <mat-toolbar color="primary" class="background-dark">
      <button *ngIf="showMenuButton" mat-icon-button [ngClass]="''" aria-label='Menu' (click)='drawer.toggle()'>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Order online is the new thing.</span>
      <span [ngClass]="'spacer'"></span>
      <button *ngIf="data.businessId"  mat-icon-button [routerLink]="['/business', data.businessId]" >
        <mat-icon>chrome_reader_mode</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/business', data.businessId, 'cart']">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Router -->
      <div class="max-size-content">
        <router-outlet></router-outlet>
      </div>
    <mat-divider></mat-divider>
    <!-- Business Information -->
    <app-bussiness-info></app-bussiness-info>
    <mat-divider></mat-divider>
    <!-- Footer -->
    <div class='footer'>
      <div class='footer-nav'>
        <a *ngIf="data.businessId" [routerLink]="['/business', data.businessId]">Menu</a>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>