<div class="item-list">
  <div *ngFor='let item of menuItems' class='item'>
    <div class='image'></div>
    <!--<img mat-card-image src='https://material.angular.io/assets/img/examples/shiba2.jpg' alt='Photo of a Shiba Inu'>-->
    <mat-card-content class='content'>
      <span>{{ item.name }} ${{ item.price }}</span>
      <span *ngIf='item.contains'>
        <br>
        {{ item.contains }}
      </span>
      <span *ngIf='item.description'>
        <br>
        {{ item.description }}
      </span>
    </mat-card-content>
    <div class="fullWidth centered">
      <button mat-button (click)='addToCart(item)'>
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>