/* Material Override */
.mat-button-toggle-label-content {
  font-size: 16px;
}
.mat-card {
  border-radius: 0 !important;
  box-shadow: none !important;
  /* border-bottom: 1px solid #00000066; */
  padding: 16px 0px !important;
  margin: 0px 8px !important;
}
.mat-card-actions {
  margin: -8px 0px !important;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: #011426;
  text-decoration: none;
  letter-spacing: 0.4px;
}

/* selected link */
a:active {
  color: #7A99B7;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.footer {
  width: 100%;
  padding: 24px 0px;
}

.footer-nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:auto;
  align-content: center;
}

.spacer {
  flex: 1 1 auto;
}

.background-transparent {
  background-color: transparent !important;
}

.background-white {
  background-color: whitesmoke;
}
.background-dark {
  background-color: #282828 !important;
}

.no-border {
  border: 0px;
}

.max-size-content {
  padding-top: 16px;
  padding-bottom: 175px;
  max-width: 1500px;
  min-height: 600px;
  margin: auto;
}

@media (max-width: 599px) {
  .drawer {
    top: 56px !important;
  }
}
.side-drawer {
  width: 250px;
}

.margin-auto {
  margin: auto;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.halfWidth {
  width: 50%;
}

.MainContent {
  max-width: 1500px;
}

.withTab{
  padding-right: 16px;
}

.centered {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
